body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #1DB954;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    margin: 0;
    padding: 0px;
    color: #1DB954;
    font-weight: bold;
}

h2, h3 {
    color: #FFFFFF;
}

a, button {
    background-color: #1DB954;
    color: #FFFFFF;
    border: none;
    text-decoration: none;
    cursor: pointer;
    border-radius: 25px;
    font-size: 20px;
    padding: 15px 20px;
}

a:hover, button:hover {
    background-color: #1ED760;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding-top: 25vh;
}

.icon-container {
    width: 65px;
    height: 65px;
    position: absolute;
    left: 4px;
    top: 3px;
}

.icon-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.header-container {
    background-color: #1DB954;
    color: white;
    padding: 4px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container.admin-mode {
    background-color: #282828; /* Darker background for admin mode */
}

.header-container.admin-mode h1 a {
    color: red; /* Red text for admin mode */
}

h1 {
    margin: 0;
    padding: 10px;
    color: #FFFFFF;
    font-weight: bold;
    flex-grow: 1;
    text-align: center;
}

.header-link {
    background-color: transparent;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 25px;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 30px;
    border: none;
}

.header-link:hover {
    background-color: #1ED760;
}

.tip-button {
    background-color: #1DB954;
    color: #FFFFFF;
    border: none;
    text-decoration: none;
    cursor: pointer;
    border-radius: 25px;
    font-size: 18px;
    padding: 10px 20px;
    position: absolute;
    right: 30px;
}

.tip-button:hover {
    background-color: #1ED760;
}

.content-container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto 0;
    padding: 0 20px;
    box-sizing: border-box;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.search-bar-container {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.search-bar {
    display: flex;
    width: 100%;
}

.search-bar input[type="text"] {
    flex-grow: 1;
    padding: 15px;
    font-size: 20px;
    border-radius: 5px 0 0 5px;
    border: none;
}

.search-bar button[type="submit"] {
    padding: 15px 25px;
    font-size: 20px;
    border-radius: 0 5px 5px 0;
    border: none;
    background-color: #1DB954;
    color: white;
    cursor: pointer;
}

.results {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding-top: 20px;
}

.result-item {
    display: flex;
    align-items: center;
    background-color: #282828;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.track-info {
    flex-grow: 1;
    margin-right: 10px;
}
.track-name {
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    margin: 0;
}
.track-artist {
    font-size: 14px;
    color: #B3B3B3;
    margin: 0;
}

.album-art {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 5px;
}

.result-item p {
    flex-grow: 1;
    margin: 0;
    color: #FFFFFF;
}

.queue-container {
    width: 30%;
    min-width: 250px;
    background-color: #282828;
    padding: 20px;
    border-radius: 5px;
    align-self: flex-start;
    margin-top: 20px;
}

.queue-item {
    margin: 5px 0;
    padding: 10px;
    background-color: #2e2e2e;
    color: white;
    border-radius: 5px;
}

.current-track {
    background-color: #1DB954;
}

#notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1DB954;
    color: white;
    padding: 30px 50px;
    border-radius: 25px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    font-size: 24px;
    text-align: center;
    max-width: 80%;
}

#notification.show {
    opacity: 1;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.modal.show {
    opacity: 1;
}

.modal-content {
    background-color: #282828;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #1DB954;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    position: relative;
    transform: translateY(-50px);
    transition: transform 0.3s ease;
}

.modal.show .modal-content {
    transform: translateY(0);
}

.close {
    color: #aaa;
    float: right;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 15px;
    line-height: 1;
}

.close:hover,
.close:focus {
    color: #1DB954;
    text-decoration: none;
    cursor: pointer;
}

.modal h2 {
    color: #1DB954;
    margin-top: 0;
}

.modal p {
    color: #FFFFFF;
    text-align: center;
}

.qr-code-container {
    text-align: center;
    margin-top: 20px;
}

.tip-qr-code {
    max-width: 300px;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}

.qr-code-container p {
    font-size: 14px;
    color: #aaa;
}

.qr-code-container a {
    color: #1DB954;
    text-decoration: none;
}

.qr-code-container a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .content-container {
        flex-direction: column;
    }

    .main-content {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .queue-container {
        width: 100%;
    }
}