<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Queue</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="header-container">
        <div class="header">
            <h1><a href="/search" class="header-link">Welcome to the Lazy DJ!</a></h1>
        </div>
    </div>
    <div class="login-container">
        <a href="/login">Login with Spotify</a>
    </div>
</body>
</html>
