<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lazy DJ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="header-container">
        <h1><a href="{{ url_for('routes.index') }}" class="header-link">Lazy DJ</a></h1>
    </div>

    <div class="content-container">
        <div class="login-container">
            <a href="{{ url_for('routes.login') }}" class="button">Login with Spotify</a>
        </div>
    </div>

    <script type="module" src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>