{% extends "base.html" %}

{% block title %}Lazy DJ{% endblock %}

{% block content %}
<div class="header-container">
    <h1><a href="{{ url_for('routes.index') }}" class="header-link">Lazy DJ</a></h1>
</div>

<div class="content-container">
    <div class="login-container">
        <a href="{{ url_for('routes.login') }}" class="button" id="loginButton">Login with Spotify</a>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="module" src="{{ url_for('static', filename='js/app.js') }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var loginButton = document.getElementById('loginButton');
        loginButton.addEventListener('touchstart', function(e) {
            e.preventDefault();
            window.location.href = this.href;
        });
    });
</script>
{% endblock %}