{% extends "base.html" %}

{% block title %}Session Not Found - Lazy DJ{% endblock %}

{% block content %}

<div class="header-container {% if admin_mode %}admin-mode{% endif %}">
    <div id="refreshButton" class="icon-container" style="cursor: pointer;">
        <img src="{{ url_for('static', filename='icons/lazydjicon-512x512.png') }}" alt="Lazy DJ Icon">
    </div>
    <h1><a href="javascript:void(0);" id="refreshLink" class="header-link">The Lazy DJ</a></h1>
</div>

<div class="session-not-found-container">
    <h1 class="session-not-found-title">Oops! Session Not Found</h1>
    <p>The session you're looking for no longer exists or has expired.</p>
    <a href="{{ url_for('routes.search') }}" class="home-button">Go to Home Page</a>
</div>
{% endblock %}