{% extends "base.html" %}

{% block title %}Lazy DJ - Session{% endblock %}

{% block content %}
<div class="header-container {% if admin_mode %}admin-mode{% endif %}">
    <div class="icon-container" style="cursor: pointer;">
        <img src="{{ url_for('static', filename='icons/lazydjicon-512x512.png') }}" alt="Lazy DJ Icon">
    </div>
    <h1><a href="javascript:void(0);" id="refreshLink" class="header-link">The Lazy DJ</a></h1>
    <button id="sessionSettingsButton" class="new-session-button">Session Settings</button>
</div>

<div class="content-container">
    <div class="main-content">
        <div class="search-bar-container">
            <form class="search-bar" action="{{ url_for('sessions.session_search', session_id=session_id) }}" method="get">
                <input type="text" name="query" placeholder="Search for a song...">
                <button type="submit">Search</button>
                <button type="button" class="clear-button">Clear</button>
            </form>
        </div>
        <div class="results">
            <!-- Search results will be dynamically populated here -->
        </div>
    </div>
    <div id="queueContainer" class="queue-container">
        <h2>Now Playing</h2>
        <div id="queue" class="queue"></div>
    </div>
</div>

<div id="sessionSettingsModal" class="modal">
    <div class="modal-content">
        <h2 class="session-settings-header">Session Settings</h2>
        <div class="button-container">
            <button id="shareSessionButton">Share Session</button>
            <button id="createPlaylistButton">Create Playlist</button>
            <button id="endSessionButton">End Session</button>
        </div>
        
        <div id="sessionLinkContainer" style="display: none;">
            <div class="qr-code-label">Scan to share session</div>
            <div id="sessionQRCode" class="qr-code-container"></div>
            <button onclick="copySessionLink()" class="copy-link-button">Copy Session Link</button>
        </div>
        
        <div id="playlistLinkContainer" style="display: none;">
            <div class="qr-code-label">Scan to share playlist</div>
            <div id="playlistQRCode" class="qr-code-container"></div>
            <button onclick="copyPlaylistLink()" class="copy-link-button">Copy Playlist Link</button>
        </div>

        <div class="close-button-container">
            <button id="closeSessionSettingsButton" class="close-button">Close</button>
        </div>
    </div>
</div>

<div id="notification" class="notification"></div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/qrcode-generator@1.4.4/qrcode.min.js"></script>
<script type="module" src="{{ url_for('static', filename='js/session-settings.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}