<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LazyDJ Session</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header-container">
        <h1><a href="{{ url_for('routes.index') }}" class="header-link">LazyDJ Session</a></h1>
    </div>

    <div class="content-container">
        <div class="main-content">
            <div class="search-bar-container">
                <form class="search-bar" action="{{ url_for('sessions.session_search', session_id=session_id) }}" method="get">
                    <input type="text" name="query" placeholder="Search for a song...">
                    <button type="submit">Search</button>
                    <button type="button" class="clear-button">Clear</button>
                </form>
            </div>
            <div class="results"></div>
        </div>
        <div class="queue-container">
            <h2>Queue</h2>
            <div id="queue-list"></div>
        </div>
    </div>

    <div id="notification" class="notification"></div>

    <script>
        const SESSION_ID = '{{ session_id }}';
    </script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>